<!DOCTYPE html> 
<% provide(:title, "Home")%>
<html>
	<head> 
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
		<title><%= yield(:title)%> | Healthy bowl</title>
	</head>
	<body>
		<h1>Healthy bowl</h1>
		<div class="container">
		  <div class ="row">
		    <div class="col-sm-3">
			  <%= link_to image_tag("home_img_1.jpg", alt:"photo_1", width: "300") %>
			  <p><font size= "4">The photo copied from afterfir-catering.pl</font></p>
			</div>
			<div class="col-sm-3">
		      <%= link_to image_tag("home_img_2.jpg", alt:"photo_2", width: "300") %>
			  <p>The photo copied from afterfit-catering.pl</p>
			</div>
			<div class="col-sm-3">
		    <%= link_to image_tag("home_img_3.jpg", alt:"photo_3", width: "300") %>
			<p>The photo copied from afterfit-catering.pl</p>
			</div>
			<div class="col-sm-3">
			<%= link_to image_tag("home_img_4.jpg", alt:"photo_4", width: "300") %>
			<p>The photo copied from afterfir-catering.pl </p>
			</div>
		</div>
	</div>
	</body>
</html>